<div class="container">
  <h1>Stupid Coaching!</h1>

  <div class="message">
  <p class="text"><%= params[:question] %></p>
  <p class="text">-You</p>
  </div>

  <div class="message" id="coachMessage">
  <p class="text"><strong><%= @answer %></strong></p>
  <p class="text">-You</p>
  </div>

  <div>
  <a href="/ask">Ask a new question</a>
  </div>
</div>
